name: GLaDOS Check-in

on:
  schedule:
    - cron: '30 12 * * *'  # 每天 16:10 UTC（北京时间 00:10）
  workflow_dispatch:

jobs:
  checkin:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run GLaDOS Check-in
        env:
          GLADOS_COOKIES: ${{ secrets.GLADOS }}
          WECHAT_NOTIFY: ${{ secrets.WECHAT_NOTIFY }}
          #GLADOS_EXCHANGE_PLAN: ${{ secrets.GLADOS_EXCHANGE_PLAN }}
        run: python checkin.py
